<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>

<section class="split">
    
    <div class="container">

        <form  action='/flight/payment' method="POST">

        <div class="head">
            <h6>Passenger infromation</h6>
        </div>

        <div class="travelers">

            <div class="box">

                <h6>Tarveler 1</h6>
                <div class="split">
                    <input class="input-line" type="text" name="" id="" placeholder="First Name">
                    <input class="input-line" type="text" name="" id="" placeholder="Last Name">
                </div>
                <div class="split">
                    <div class="split">
                        <input class="input-line" type="date" name="" id="" placeholder="Birth Date">
                        <input class="input-line" type="text" name="" id="" placeholder="Nationallity">
                    </div>
                </div>

                <h6>Passport detail</h6>
                <div class="split">
                    <input class="input-line" type="date" name="" id="" placeholder="Birth Date">
                    <input class="input-line" type="text" name="" id="" placeholder="Nationallity">
                </div>

            </div>

        
            <div class="box">

                <h6>Tarveler 2</h6>
                <div class="split">
                    <input class="input-line" type="text" name="" id="" placeholder="First Name">
                    <input class="input-line" type="text" name="" id="" placeholder="Last Name">
                </div>
                <div class="split">
                    <input class="input-line" type="date" name="" id="" placeholder="Birth Date">
                    <input class="input-line" type="text" name="" id="" placeholder="Nationallity">
                </div>

                <h6>Passport detail</h6>
                <div class="split">
                    <input class="input-line" type="date" name="" id="" placeholder="PassportID">
                    <input class="input-line" type="text" name="" id="" placeholder="Exp. Date">
                </div>

            </div>

        </div>    


        <div class="head">
            <h6>Contact Detail</h6>
        </div>

        <div class="travelers">

            <div class="box">

                <h6>Select from contact list</h6>
                <div class="split">
                    <input class="input-line" type="text" name="" id="" placeholder="First Name">
                    <input class="input-line" type="text" name="" id="" placeholder="Last Name">
                </div>
                <div class="split">
                    <input class="input-line" type="date" name="" id="" placeholder="country">
                    <input class="input-line" type="text" name="" id="" placeholder="phone number">
                </div>

                <input class="input-line" type="email" name="" id="" placeholder="E-mail">

            </div>


        </div>    

        

    </div>


        <div class="container">
            

                <div class="box">

                    <h6>Flight detail</h6>
                    <h6>Tarveler 1</h6>
                    <h6>Tarveler 1</h6>
                    <h6>Tarveler 1</h6>
                    <h6>Tarveler 1</h6>
                    <h6>Tarveler 1</h6>
                    <h6>Tarveler 1</h6>
                

                </div>

            
                <div class="box">

                    <h6>Flight cost</h6>
                    <h6>Tarveler 1</h6>
                    <h6>Tarveler 1</h6>
                    <h6>Tarveler 1</h6>
                    <h6>Tarveler 1</h6>
                    <h6>Tarveler 1</h6>
                    <h6>Tarveler 1</h6>

                </div>

                <div class="text-center">
                    <button class="mybtn" type="submit">Next</button>
                </div>   

        
        </div>

    </form>   

</section>


    
    
<%- include('partials/footer.ejs') %>

