<%- include('partials/header.ejs') %>


    <link rel="stylesheet" href="/flight-book.css">
    
    <nav class="p-3 bg-dark text-white">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          
      
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="/" class="nav-link px-2 navdec navadj">Home</a></li>
              <li><a href="/flights" class="nav-link px-2 navact navadj">Flights</a></li>
              <li><a href="#" class="nav-link px-2 navdec navadj">Hotels</a></li>
              <li><a href="/sign-in" class="nav-link px-2 navdec navadj">DogePoint™</a></li>
              <li><a href="/sign-in" class="nav-link px-2 navdec navadj">Current Booking</a></li>
            </ul>
      
         
            <div class="text-end">
              <button type="button" onclick="location.href='/sign-in'" class="btn btn-outline-light me-2">Login</button>
              <button type="button"  onclick="location.href='/sign-up'" class="btn btn-warning">Sign-up</button>
            </div>
          </div>
        </div>
      </nav>
    
    <div class="row">
        <div class="col">
            <div class="detail">
                <h4>Flight from a to b</h4>
                <h5>Date of departure</h5>
            </div>
            <div class="detail">
                <h4>Flight detail</h4>
                <h3>data </h3>
                <h3>data </h3>
                <h3>data </h3>
                <h3>data </h3>
                <h3>data </h3>
            </div>
        </div>
        <div  class="col">
            <div class="detail ">
                <h4>Flight cost</h4>
                <h3>data </h3>
                <h3>data </h3>
                <h3>data </h3>

            </div>
            <div>
                <button type="submit" class="button" onclick="location.href='/payment'"> Confirm Booking </button>
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %>

