<%- include('partials/header.ejs') %>

<link rel="stylesheet" href="/flights.css">

<nav class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 navdec navadj">Home</a></li>
                <li><a href="/flights" class="nav-link px-2 navact navadj">Flights</a></li>
                <li><a href="#" class="nav-link px-2 navdec navadj">Hotels</a></li>
                <li><a href="/sign-in" class="nav-link px-2 navdec navadj">DogePoint™</a></li>
                <li><a href="/sign-in" class="nav-link px-2 navdec navadj">Current Booking</a></li>
            </ul>

            <div class="text-end">
                <button type="button" onclick="location.href='/sign-in'" class="btn btn-outline-light me-2">Login</button>
                <button type="button"  onclick="location.href='/sign-up'" class="btn btn-warning">Sign-up</button>
            </div>

        </div>
    </div>
</nav>

<div class="position-relative">
    <img src="https://wallpaperaccess.com/full/2692164.jpg" class="banner">
    <div class="position-absolute top-0 start-0 searchbox">

        <button class="flight-tab">One way</button>
        <button class="flight-tab">Roundtrip</button>

        <form class="form-signin text-center">
             
            <div class="form-floating input">
                <input type="text" class="form-control" id="floatingLastname" placeholder="">
                <label for="floatingLastname">From</label>
            </div>

            <div class="form-floating input">
                <input type="text" class="form-control" id="floatingLastname" placeholder="">
                <label for="floatingLastname">To</label>
            </div>

            <div class="row">
                <div class="form-floating input col-lg-6">
                    <input type="text" class="form-control" id="floatingLastname" placeholder="">
                    <label for="floatingLastname" style="padding-left: 25px;">Depart date</label>
                </div>

                <div class="form-floating input col-lg-6">
                    <input type="text" class="form-control" id="floatingLastname" placeholder="">
                    <label for="floatingLastname" style="padding-left: 25px;">Return date</label>
                </div>
            </div>
            <div class="form-floating input">
                <input type="text" class="form-control" id="floatingLastname" placeholder="">
                <label for="floatingLastname">Seat</label>
            </div>


            <button type="button"  onclick="location.href='/flights-list'" class="btn btn-warning text-center searchbutton">Search</button>
        </form>

    </div>
    
    
</div>
    
    
<%- include('partials/footer.ejs') %>

