<%- include('partials/header.ejs') %>

  <div class="position-relative">
    <img src="https://preview.redd.it/ngot51qw05q61.jpg?width=1280&format=pjpg&auto=webp&s=26474dce4d9df914ece146caa7e7e42a84561fae" class="banner">
    <div class="position-absolute top-100 start-0" style="padding: 0px 0px 0px 5vw;">
      <h6>Test</h6>
    </div>
  </div>
  
    
    <h1> Kill me</h1>
    <h2> I'm dying </h2>
    
    
<%- include('partials/footer.ejs') %>

