<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>

  <div class="position-relative">
    <img src="https://preview.redd.it/ngot51qw05q61.jpg?width=1280&format=pjpg&auto=webp&s=26474dce4d9df914ece146caa7e7e42a84561fae" class="banner">
    <div class="position-absolute top-100 start-0">
    </div>
  </div>


  <div class="container split">
    <div class="box"> recommendation</div>
    <div class="box"> recommendation</div>
    <div class="box"> recommendation</div>
    <div class="box"> recommendation</div>
    <div class="box"> recommendation</div>
  </div>
  <div class="container split">
    <div class="box"> recommendation</div>
    <div class="box"> recommendation</div>
    <div class="box"> recommendation</div>
    <div class="box"> recommendation</div>
    <div class="box"> recommendation</div>
  </div>

<%- include('partials/footer.ejs') %>

