<%- include('partials/header.ejs') %>

  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      
  
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 navact">Home</a></li>
          <li><a href="/flights" class="nav-link px-2 navdec">Flights</a></li>
          <li><a href="#" class="nav-link px-2 navdec">Hotels</a></li>
          <li><a href="/sign-in" class="nav-link px-2 navdec">DogePoint</a></li>
          <li><a href="/sign-in" class="nav-link px-2 navdec">Current Booking</a></li>
        </ul>
  
     
        <div class="text-end">
          <button type="button" onclick="location.href='/sign-in'" class="btn btn-outline-light me-2">Login</button>
          <button type="button"  onclick="location.href='/sign-up'" class="btn btn-warning">Sign-up</button>
        </div>
      </div>
    </div>
  </header>

    <img src="https://preview.redd.it/ngot51qw05q61.jpg?width=1280&format=pjpg&auto=webp&s=26474dce4d9df914ece146caa7e7e42a84561fae" class="banner">
    <h1> Kill me</h1>
    <h2> I'm dying </h2>
    
    
<%- include('partials/footer.ejs') %>

