<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>



      <div class="">
          <img class="banner" src="\uploads\DogeBanner.jpg" height="75%" > 
      </div>  
   

    <div class="container my-5">

      <h4>Partner Airline</h4>

      <hr>

      <div class="row justify-content-center">
        <% airlines.forEach((airline)=> { %>
          <div class="col-sm-2 m-3 text-center"><img src="<%= airline.icon %>" alt="airline icon" width="110" height="90"></div>    
        <% }) %>
      </div>
  
    </div>

<%- include('partials/footer.ejs') %>

