<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>

<section class="split">
    
    <div class="container">


        <div class="head">
            <h6>Payment method</h6>
        </div>

        <div class="travelers">

            <div class="box">

                <h6>Bank</h6>

                <div class="split">
                    <button class="mybtn" type="" onclick="location.href='/flight/payment/confirm'">Bank</button>
                    <button class="mybtn" type="" onclick="location.href='/flight/payment/confirm'">Bank 1</button>
                    <button class="mybtn" type="" onclick="location.href='/flight/payment/confirm'">Bank 2</button>
                </div>


            </div>

            <div class="box ">

                <h6>Credit Card</h6>

                <div class="split">
                    <button class="mybtn" type="" onclick="location.href='/flight/payment/confirm'">Card</button>
                    <button class="mybtn" type="" onclick="location.href='/flight/payment/confirm'">Card 1</button>
                    <button class="mybtn" type="" onclick="location.href='/flight/payment/confirm'">Card 2</button>
                </div>

            </div>
            
            <div class="box">

                <h6>Counter</h6>

                <div class="split">
                    <button class="mybtn" type="" onclick="location.href='/flight/payment/confirm'">Counter </button>
                    <button class="mybtn" type="" onclick="location.href='/flight/payment/confirm'">Counter 1</button>
                    <button class="mybtn" type="" onclick="location.href='/flight/payment/confirm'">Counter 2</button>
                </div>

            </div>

            <div class="box">

                <h6>Pay with DogePoint</h6>
                <div class="text-center">

                    <% if(!currentUser) { %>
                    <button class="mybtn" type="" onclick="location.href='/flight/payment/confirm'">Sign in to pay with points</button>
                    <% } else { %>
                    <button class="mybtn" type="" onclick="location.href='/flight/payment/confirm'">Pay with DogePoint</button>    
                    <% } %>
                </div>

            </div>

        </div>

    </div>

    <div class="container">

        <div class="box">

            <h6>Booking ID & Status</h6>

        </div>


        <div class="box">

            <h6>Flight detail</h6>

        </div>

    
        <div class="box">

            <h6>Flight cost</h6>

        </div>

        <div class="box">

            <h6>Passenger detail</h6>

        </div>

    </div>



</section>


    
    
<%- include('partials/footer.ejs') %>

