<%- include('partials/header.ejs') %>

    

<link rel="stylesheet" href="/signform.css">

</head>

<body class="text-center">
  <div class="row fullscreen">   
      <div class="col-lg-6">
<main class="form-signin from-adj">
<form>
    <a href="/">
  <img class="mb-4" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1f9ed517-f705-42e3-960a-9d56d8bb2f67/d7gesj7-99f809b9-6219-4e50-8a59-d1fd1b41a350.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMWY5ZWQ1MTctZjcwNS00MmUzLTk2MGEtOWQ1NmQ4YmIyZjY3XC9kN2dlc2o3LTk5ZjgwOWI5LTYyMTktNGU1MC04YTU5LWQxZmQxYjQxYTM1MC5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.PeFz4A2VN7EPrkbSPt6cmhuhHLU4enYznwCE23GN85g" alt="" width="80" height="80">
    </a>
  <h1 class="h3 mb-3 fw-normal text-white">Please sign up</h1>

  <div class="form-floating input">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">title</label>
  </div>
  <div class="row">
    <div class="form-floating input col-lg-6">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">first name</label>
    </div>
    <div class="form-floating input col-lg-6">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">last name</label>
    </div>
  </div>
  <div class="form-floating input">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">phone number</label>
  </div>
  <div class="form-floating input">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">E-mail</label>
  </div>
  <div class="row">
    <div class="form-floating input col-lg-6">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating input col-lg-6">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Confirm password</label>
    </div>
  </div>

  <button class="w-50 " type="submit">Sign up</button>


</form>

</main>
</div>
<div class="col-lg-6">
<img src="https://img.freepik.com/free-photo/fantasy-sky_90839-278.jpg?size=626&ext=jpg" class=" half">
</div>
</div>

</body>
