<%- include('partials/header.ejs') %>

    <link rel="stylesheet" href="/signform.css">

  </head>

  <body class=" fullscreen bg">
<main class="form-signin from-adj text-center">
  <form class="form-bg">
    <a href="/">
        <img class="mb-3" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1f9ed517-f705-42e3-960a-9d56d8bb2f67/d7gesj7-99f809b9-6219-4e50-8a59-d1fd1b41a350.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMWY5ZWQ1MTctZjcwNS00MmUzLTk2MGEtOWQ1NmQ4YmIyZjY3XC9kN2dlc2o3LTk5ZjgwOWI5LTYyMTktNGU1MC04YTU5LWQxZmQxYjQxYTM1MC5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.PeFz4A2VN7EPrkbSPt6cmhuhHLU4enYznwCE23GN85g" alt="" width="80" height="80">
    </a>
    <h1 class="mb-3 fw-normal text-white text-center">Sign in</h1>

    <div class="form-floating input">
      <input type="email" class="form-control " id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating input">
      <input type="password" class="form-control " id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3 text-white">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class=" btn btn-lg  btn-warning" type="submit">Sign in</button>

    <h1 class="text">Forgot your username and password?</h1>
    <h1 class="text">Not a DogeAir member?</h1>

    <button type="button"  onclick="location.href='/sign-up'" class="btn btn-warning text-center">Join DogeAir member</button>

  </form>
</main>

  </body>
</body>