<%- include('partials/header.ejs') %>

    <link rel="stylesheet" href="/signform.css">

  </head>

  <div class="row position-relative">

  <div class="form-container">
    <form class="from-adj ">
    
      <div class="text-center">
    <a href="/" >
        <img class="mb-3" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1f9ed517-f705-42e3-960a-9d56d8bb2f67/d7gesj7-99f809b9-6219-4e50-8a59-d1fd1b41a350.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMWY5ZWQ1MTctZjcwNS00MmUzLTk2MGEtOWQ1NmQ4YmIyZjY3XC9kN2dlc2o3LTk5ZjgwOWI5LTYyMTktNGU1MC04YTU5LWQxZmQxYjQxYTM1MC5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.PeFz4A2VN7EPrkbSPt6cmhuhHLU4enYznwCE23GN85g" alt="" width="80" height="80">
    </a>
    <h1 class="mb-3 fw-normal text-white">Sign in</h1>
  </div>
    <div class="form-floating input">
      <input type="email" class="form-control " id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating input">
      <input type="password" class="form-control " id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

      <div class="text-start">
        <input type="checkbox"  value="remember-me"> Stay signed in
      </div>

    <div class="text-center">
      <button type="submit" class="goldbutton">Sign in</button>
    </div>
    
    <a href="#" >
      <h6> your username and password? </h6>
    </a>
    <a href="/sign-up">
      <h6>Not a DogeAir member?</h6>
    </a>
    <!-- <button type="button" class="goldbutton"  onclick="location.href='/sign-up'" >Join DogeAir member</button> -->

  </form>
</div>

<div class="image">
  <img src="http://images.unsplash.com/photo-1436491865332-7a61a109cc05?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max" class="half">
</div>

</div>