<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>


   
<form class="my-4 text-center container" action='/current-booking/search' method="POST">
    <div class="row justify-content-center">
        <div class=" col-2">
            <label> Enter your DogeAirID here </label>
            <input type="text" class=" form-control"  name="bookingID"  placeholder="Ex. 1Ag5u">
        </div>
        <button class="mybtn col-1" type="submit" > Search <i class="fas fa-search"></i></button>
    </div>

</form>


    
    


