
.bookingcontainer{
    padding: 2rem;
}

.input-line{
    border:none;
    border-bottom: solid black 1px;
    outline: none;
    margin: 1em;
}

.head{
    border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: rgb(255, 196, 68);
    margin-top: 1rem;
    padding: 1rem;
}

.travelers{
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-top: 0;
    background-color: #fff;
    padding: 1rem;
}


