
.detail{
    margin: 15px 10px 15px 10px;
    padding: 25px;
    border: 3px solid gray;
    border-radius: 5px;
}

.button{
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
}