.result {
    margin: 3vw 3vw 3vw 3vw;
    padding: 5px 0 5px 5px;
    border-radius: 5px;
    border: 2px solid gray;
}

.result-list {
    margin: 1vw 3vw 1vw 3vw;
    padding: 5px 0 5px 5px;
    border-radius: 5px;
    border: 2px solid gray;
}

.list-detail{
    margin-top: 10px;
    text-align: center;
}