.result {
    margin: 3vw 3vw 3vw 3vw;
    padding: 5px 0 5px 5px;
    border-radius: 5px;
    border: 2px solid gray;
}

.result-list {
    margin: 1vw 3vw 1vw 3vw;
    padding: 5px 0 5px 5px;
    border-radius: 5px;
    border: 2px solid gray;
}

/* @media(max-width: 992px){
	#flighttime, #flightclassinfo{
		display: none;
	}
} */
.list-detail{
    margin-top: 1rem !important;
    margin-bottom: 1.5rem;
    padding: 0;
}

@media(max-width: 992px){
	.flightlist{
		display: block;
	}
}
