.searchbox{
    margin-left: 15vw;
    margin-top: 10vh;
    padding: 5vw;
    background: rgba(255, 255, 255, 0.5);
    border: solid 2px gray;
    border-radius: 5px;
}

.tab{
    padding: 10px 35px 10px 35px;
    
}

.toptab{
    margin: 0%;
    padding: 10px 100px 10px 100px;
}