footer {
    left: 0%;
    bottom: 0%;
    padding: 30px;
    width: 100%;
    background-color: rgb(31, 31, 31);
    color: goldenrod;
    text-align: start;
    font-size: 25px;
    margin: 5vw 0 0 0;
    /* position: fixed; */
  }

h6 {
    color: goldenrod;
    text-align: start;
  }