
.navadj {
    display: inline-block;
    text-align: center;
    margin: 5px;
    padding: 10px 12px;
    font-size: 18px;
    text-decoration: none;
}

.navicon{
    color: goldenrod;
    text-decoration: none;
}

.navdec {
    color: goldenrod;
    text-decoration: none;
}
.navdec:hover {
    color: rgb(255, 255, 255);
    background-color: goldenrod;
    border-radius: 2px ;
}

.navactive {
    color: rgb(255, 255, 255);
    background-color: goldenrod;
    border-radius: 2px ;
}


.banner {
    width: 100%;
}
