
.navadj {

    display: inline-block;
    text-align: center;
    margin: 5px;
    padding: 10px 12px;
    font-size: 18px;
    text-decoration: none;
}

.navdec {
    color: goldenrod;
    text-decoration: none;
}
.navdec:hover {
    color: rgb(255, 255, 255);
    background-color: goldenrod;
    border-radius: 2px ;
    /* text-decoration: underline; */
    /* transition: 0.35s; */
}

.navact {
    color: rgb(255, 255, 255);
    background-color: goldenrod;
    border-radius: 2px ;
    text-decoration: none;
}


.banner {
    width: 100%;
}

.button{
    padding: 2.5px 10px 2.5px 10px ;
    background-color: rgb(255, 187, 0);
}
