.from-adj{
    padding: 2.5em;
    background-color: rgb(37, 37, 37);

}

html, body{
    height: 100%;
    width: 100%;
    overflow: auto;
}

.signform-container,
.split{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

}    

.signform-container{
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgb(37, 37, 37);

}

.image-container{
    height: 100%;
    width: 100%;
    overflow: auto;
}
    
.signform-container > *,
.split  > * {
    flex-basis: 100%;
}


.form-floating{
    margin: 10px 5px;
}

@media screen and (max-width: 1000px) {
    .form-container {
        width: 100%;
    } 
    .image-container {
        display: none;
    }

    
}

@media screen and (max-width: 1000px) {
    .split {
        display: inline;
    } 
    .image-container {
        display: none;
    }

}





.fullimage {
    width: 100%;
    height: 100%;

}

.form-adj {
    margin: 5px 3px;
    font-size: 75%;
}

.text-start {
    text-align: start;
    margin: 5px 0 10px 0;
}

.text-white{
    color: white;
}
