.info-head, .info {
    border: solid 2px gray;
    margin: 20px;
    display: flex;
    padding: 15px;
}

.info#password{
    display: block;
}

.pass-con{
    padding-left: 15%;
    padding-right: 15%;
}

.info#booking-list{
    display: block;
    border: solid 2px gray;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tab-list {
    width: 25%;
    margin: 20px;
    padding: 0;
}

.infos {
    width: 75%;
    font-size: medium;
}

.info {
    display: flex;
    margin-top: 0;
    border-collapse: collapse;
}

.info-head{
    color: black;
    margin-bottom: 0;
}

.info-left, .info-right{
    width: 50%;
    padding: 10px 0 10px 0;
    color: black;
}

.usercontainer{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}

.tab{
    background-color: rgb(255, 204, 38);
    border: solid gray 1px;
    padding: 8px 25px 8px 25px;
    text-align: start;
    font-size: 90%;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
}

.title{
    margin: 0;
    padding: 0;

}

.titlename{
    width: 50%;
    padding: 5px;
}

.titlebtn{
    width: 50%;
    text-align: end;
}

.data{
    padding: 5px 0 5px 2.5px;
    margin-bottom: 10px;
}

.left, .middle, .right{
    width: 33.33%;
    text-align: center;
}